langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
notebook
tavily-python
wikipedia
trustcall
langgraph-cli[inmem]
langchain-groq
streamlit
chromadb
sentence-transformers
unstructured
python-dotenv
pypdf
numpy<2.0
torch==2.1.2
langchain
langchain-huggingface
langchain-unstructured
unstructured_inference
requests
scikit-learn
nltk
pdfminer.six
pillow
pi-heif


